* {
    margin: 0;
    padding: 0;
}
span pre {
    background-color: rgb(133, 145, 234);

}
.titulo {
    background-color: rgb(138, 152, 232);
    color: white;
    padding: 5px;


}
.visa {
    text-align: center;
    background-color: rgba(15, 34, 96, 0.881);
    color: white;
    font-family: 'Times New Roman', Times, serif;
    img {
        height: 35px;
    }

}
.contenedor {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    border-color: rgb(8, 8, 8);
}
.menu {
    background-color: rgb(183, 194, 244);
    color: rgb(7, 7, 7);
    width: 15%;
    flex:1;
    padding: 20px;
    border-radius: 7px;
    border:1px solid black;
}
h3{
    color: rgba(5, 16, 146, 0.803);
}


button {
    background-color: rgb(86, 129, 204);
    color: rgb(13, 13, 13);
    border: 1.5px solid rgb(1, 1, 1);
    padding: 10px ;
    margin: 10px 0;
    border-collapse: separate;
    
}
.botonn {
    flex: 2.5;
    background-color: rgb(205, 213, 238);
    color: navy;
    padding: 20px;
    border-radius: 6px;
    border: 1.3px solid black;
}
footer {
    text-align: end;
}
img {
    height: 420px;
}